.spinnerContainer {
  display: flex;
  justify-content: center;
  margin: calc(var(--spacing) * 8) 0;
  height: 100%;
}

.postfixGrid {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
  margin: 16px 0;
}

.postfixGrid input {
  margin: 0;
}

.postfixGrid div p {
  margin-bottom: 0;
}

.postfixGridInfo {
  color: var(--color-primary);
  margin: 12px 0 0 0;
}
