.navlink {
  text-decoration: none;
  color: var(--color-primary-dark);
  position: relative;
}

.navlink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary-light);
  transition: var(--transition) ease-in-out;
}

.navlink:hover,
.navlink:focus {
  color: var(--color-primary-light);
}

.navlink:hover::after,
.navlink:focus::after {
  width: 100%;
}

.navlinkActive {
  color: var(--color-primary-light);
}

.navlinkActive::after {
  width: 100%;
}
