.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-backdrop);
  z-index: 25;
}

.backdropClose {
  visibility: hidden;
}

.backdropOpen {
  visibility: visible;
}

.sideBarBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  overflow-y: auto;
  padding: calc(var(--spacing) * 4);
  background-color: var(--color-background);
  transition: transform var(--transition) ease-out;
  z-index: 30;
}

.sideBarBodyClose {
  transform: translateX(-100%);
}

.sideBarBodyOpen {
  transform: translateX(0%);
}

.sideDrawerIcon img {
  width: calc(var(--spacing) * 38);
  margin: calc(var(--spacing) * 4) 0;
}

.sideLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(var(--spacing) * 8);
}

@media (min-width: 576px) {
  .sideBarBody {
    width: 50vw;
  }
  .sideDrawerIcon img {
    width: calc(var(--spacing) * 42);
  }
}

@media (min-width: 768px) {
  .sideBarBody {
    display: none;
  }
  .backdrop {
    display: none;
  }
}
