.accountDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--spacing) * 6) calc(var(--spacing) * 8);
  border-radius: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 7);
  background-color: var(--color-paper);
}

.inputContainer {
  flex: 1;
}

.button {
  margin-right: calc(var(--spacing) * 2);
}

.profilePicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--spacing) * 24);
  height: calc(var(--spacing) * 24);
  border-radius: 50%;
  background-color: var(--color-primary);
  overflow: hidden;
}

.profilePicContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profilePicContainer .placeholder {
  color: var(--color-background);
  margin: 0;
}

.infoContainer {
  flex: 1;
  margin-left: calc(var(--spacing) * 4);
}

.infoContainer h2 {
  margin: 0;
}

.infoContainer a {
  display: inline-block;
  margin-top: calc(var(--spacing) * 2);
}

.infoContainer i {
  display: inline-block;
  margin-right: calc(var(--spacing) * 2);
}

.editButton {
  color: var(--color-primary-dark);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.editButton:hover {
  color: var(--color-primary-light);
}
