.root {
  --color-primary: #eeeeee;
  --color-secondary: #808080;
  --color-primary-dark: #dddddd;
  --color-primary-light: #ffffff;
  --color-background: #111111;
  --color-paper: #222222;
  --color-paper-dark: #202020;
  --color-paper-light: #404040;
  --color-error: #df3939;
  --color-error-dark: #c52727;
  --color-error-light: #ee6a6a;
  --color-success: #2cb12e;
  --color-blue: #61a5fd;

  --spacing: 4px;

  --transition: 0.15s;
}

.root *:not(i) {
  font-family: 'Roboto', sans-serif;
  outline: none !important;
}
