.loader {
  border: calc(var(--spacing) * 1.5) solid var(--color-secondary);
  border-top: calc(var(--spacing) * 1.5) solid var(--color-primary);
  border-radius: 50%;
  margin: calc(var(--spacing) * 8) auto;
  width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 8);
  -webkit-animation: spin calc(var(--transition) * 4) linear infinite;
  animation: spin calc(var(--transition) * 4) linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
