.link {
  text-decoration: none;
  color: var(--color-primary-dark);
  transition: var(--transition) ease-in-out;
  font-weight: 500;
}

.link:focus,
.link:hover {
  color: var(--color-primary-light);
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.h1,
.h2 {
  color: var(--color-primary);
  margin-bottom: 0;
}

.p {
  color: var(--color-secondary);
  font-size: small;
}

.colorPrimary {
  color: var(--color-primary);
}

@media screen and (min-width: 568px) {
  .h1 {
    font-size: 2.25rem;
  }

  .h2 {
    font-size: 1.75rem;
  }

  .p {
    font-size: medium;
  }
}

@media screen and (min-width: 992px) {
  .h1 {
    font-size: 2.75rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .h1 {
    font-size: 3.5rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .p {
    font-size: large;
  }
}
