.root {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background);
  color: var(--color-secondary);
  box-sizing: border-box;
  min-height: 100vh;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2);
}

@media screen and (min-width: 568px) {
  .root {
    grid-template-columns: 3fr 2fr;
    grid-gap: calc(var(--spacing) * 2);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  }
}

@media screen and (min-width: 768px) {
  .root {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 8);
  }
}

@media screen and (min-width: 992px) {
  .root {
    grid-template-columns: 2fr 1fr;
    grid-gap: calc(var(--spacing) * 6);
    padding: calc(var(--spacing) * 4) calc(var(--spacing) * 16);
  }
}

@media screen and (min-width: 1600px) {
  .root {
    grid-template-columns: 3fr 1fr;
    grid-gap: calc(var(--spacing) * 10);
    padding: calc(var(--spacing) * 6) calc(var(--spacing) * 32);
  }
}
